<h1>Welcome to MR Beer Stock and Selling System</h1>
<p> Here you can control stock and track your daily sells</p>

<div>
  Daily
  <ul>
    <li><%= link_to 'Selling Dashboard', selling_dashboard_products_path %></li>
  </ul>

  Reports
  <ul>
    <li><%= link_to 'Transactions', transactions_path %></li>
  </ul>

  Admin
  <ul>
    <li><%= link_to 'Products', products_path %></li>
    <li><%= link_to 'Categories', categories_path %></li>
  </ul>
</div>
